<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>552762531661-eikf6pts25fiir1h1esldt0e2nnds5mt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552762531661-eikf6pts25fiir1h1esldt0e2nnds5mt</string>
	<key>API_KEY</key>
	<string>AIzaSyBg69p5Qg6pQjVS0YaKV4iGJ5SOUYSlues</string>
	<key>GCM_SENDER_ID</key>
	<string>552762531661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.evantiv.KiddieCal</string>
	<key>PROJECT_ID</key>
	<string>kidscalci</string>
	<key>STORAGE_BUCKET</key>
	<string>kidscalci.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552762531661:ios:4d10d8a9c9894ded</string>
	<key>DATABASE_URL</key>
	<string>https://kidscalci.firebaseio.com</string>
</dict>
</plist>